body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:21px;
  top:49px;
  width:280px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:49px;
  width:280px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:89px;
  width:280px;
  height:450px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:450px;
}
#u5 {
  position:absolute;
  left:2px;
  top:217px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:141px;
  top:254px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_ann {
  position:absolute;
  left:174px;
  top:250px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:24px;
  top:393px;
  width:40px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:57px;
  top:389px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:261px;
  top:359px;
  width:40px;
  height:74px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:74px;
}
#u11 {
  position:absolute;
  left:2px;
  top:29px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_ann {
  position:absolute;
  left:294px;
  top:355px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:21px;
  top:499px;
  width:280px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12_ann {
  position:absolute;
  left:294px;
  top:495px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:110px;
  top:12px;
  width:97px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13_ann {
  position:absolute;
  left:200px;
  top:8px;
  width:1px;
  height:1px;
}
