body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:70px;
  width:270px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:161px;
  top:36px;
  width:148px;
  height:24px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:70px;
  width:270px;
  height:40px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:316px;
  top:111px;
  width:54px;
  height:45px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:116px;
  top:81px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:101px;
  top:111px;
  width:54px;
  height:45px;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:154px;
  top:111px;
  width:54px;
  height:45px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:208px;
  top:111px;
  width:54px;
  height:45px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:262px;
  top:111px;
  width:54px;
  height:45px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:156px;
  width:270px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:363px;
  top:152px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:108px;
  top:166px;
  width:99px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:240px;
  top:192px;
  width:120px;
  height:16px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:216px;
  width:270px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:430px;
  top:85px;
  width:70px;
  height:35px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:437px;
  top:55px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:757px;
  top:55px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:730px;
  top:92px;
  width:60px;
  height:21px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:804px;
  top:92px;
  width:60px;
  height:21px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:428px;
  top:130px;
  width:74px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:495px;
  top:126px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:561px;
  top:55px;
  width:79px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:540px;
  top:130px;
  width:183px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  visibility:hidden;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:428px;
  top:192px;
  width:74px;
  height:45px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:45px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u42_ann {
  position:absolute;
  left:495px;
  top:188px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:561px;
  top:94px;
  width:79px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:804px;
  top:204px;
  width:60px;
  height:21px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:300px;
  top:218px;
  width:60px;
  height:21px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:430px;
  top:257px;
  width:72px;
  height:45px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:45px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:804px;
  top:269px;
  width:60px;
  height:21px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:190px;
  top:112px;
  width:20px;
  height:19px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u54_ann {
  position:absolute;
  left:203px;
  top:108px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:561px;
  top:206px;
  width:105px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:561px;
  top:142px;
  width:92px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:561px;
  top:272px;
  width:79px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:100px;
  top:246px;
  width:270px;
  height:60px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u63 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u62_ann {
  position:absolute;
  left:363px;
  top:242px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:108px;
  top:256px;
  width:99px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:240px;
  top:282px;
  width:120px;
  height:16px;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:100px;
  top:306px;
  width:270px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:300px;
  top:308px;
  width:60px;
  height:21px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:100px;
  top:336px;
  width:270px;
  height:60px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u72_ann {
  position:absolute;
  left:363px;
  top:332px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:108px;
  top:346px;
  width:99px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:240px;
  top:372px;
  width:120px;
  height:16px;
  text-align:right;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:100px;
  top:396px;
  width:270px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:300px;
  top:398px;
  width:60px;
  height:21px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
