body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:129px;
  top:20px;
  width:73px;
  height:30px;
  font-size:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u0_ann {
  position:absolute;
  left:195px;
  top:16px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:30px;
  top:60px;
  width:290px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:60px;
  width:290px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:128px;
  top:550px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:108px;
  top:479px;
  width:109px;
  height:31px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8_ann {
  position:absolute;
  left:210px;
  top:475px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:49px;
  top:180px;
  width:241px;
  height:130px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:130px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10 {
  position:absolute;
  left:49px;
  top:347px;
  width:50px;
  height:50px;
  font-size:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:238px;
  top:344px;
  width:57px;
  height:56px;
  font-size:72px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-14px;
  width:53px;
  word-wrap:break-word;
}
#u12_ann {
  position:absolute;
  left:288px;
  top:340px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:114px;
  top:347px;
  width:50px;
  height:50px;
  font-size:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:178px;
  top:347px;
  width:50px;
  height:50px;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:148px;
  top:342px;
  width:19px;
  height:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:209px;
  top:342px;
  width:19px;
  height:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:89px;
  top:342px;
  width:19px;
  height:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u23 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:66px;
  top:127px;
  width:17px;
  height:17px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:84px;
  top:127px;
  width:17px;
  height:17px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:118px;
  top:127px;
  width:17px;
  height:17px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:101px;
  top:127px;
  width:17px;
  height:17px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:49px;
  top:127px;
  width:17px;
  height:17px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:59px;
  top:123px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:157px;
  top:128px;
  width:21px;
  height:16px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
