body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:69px;
  width:270px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:207px;
  width:270px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:124px;
  top:35px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:69px;
  width:270px;
  height:40px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:109px;
  width:270px;
  height:101px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:101px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:273px;
  top:105px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:22px;
  top:111px;
  width:242px;
  height:18px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:247px;
  top:132px;
  width:9px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:11px;
  top:477px;
  width:270px;
  height:52px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:31px;
  top:485px;
  width:52px;
  height:27px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:185px;
  top:485px;
  width:52px;
  height:27px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:42px;
  top:513px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:198px;
  top:513px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:109px;
  top:485px;
  width:52px;
  height:27px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:118px;
  top:513px;
  width:40px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:204px;
  top:213px;
  width:60px;
  height:21px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:257px;
  top:209px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:300px;
  top:109px;
  width:270px;
  height:51px;
  font-size:16px;
  color:#FF33FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:51px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:21px;
  top:139px;
  width:144px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:21px;
  top:159px;
  width:191px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:21px;
  top:185px;
  width:125px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:10px;
  top:340px;
  width:270px;
  height:33px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:242px;
  width:270px;
  height:101px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:101px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_ann {
  position:absolute;
  left:273px;
  top:238px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:22px;
  top:244px;
  width:242px;
  height:18px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:247px;
  top:265px;
  width:9px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:204px;
  top:346px;
  width:60px;
  height:21px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u46_ann {
  position:absolute;
  left:257px;
  top:342px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:21px;
  top:272px;
  width:144px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:21px;
  top:292px;
  width:191px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:21px;
  top:318px;
  width:125px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:9px;
  top:215px;
  width:131px;
  height:16px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:9px;
  top:348px;
  width:131px;
  height:16px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:620px;
  top:75px;
  width:200px;
  height:100px;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:628px;
  top:224px;
  width:27px;
  height:16px;
  color:#FF33FF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:810px;
  top:224px;
  width:27px;
  height:16px;
  color:#FF33FF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:628px;
  top:265px;
  width:53px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:810px;
  top:275px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:628px;
  top:306px;
  width:144px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:628px;
  top:346px;
  width:157px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:810px;
  top:310px;
  width:53px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:810px;
  top:345px;
  width:53px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:786px;
  top:258px;
  width:100px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:786px;
  top:299px;
  width:100px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:786px;
  top:339px;
  width:100px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
