body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-18px;
  top:0px;
  width:838px;
  height:2048px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:2048px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1016px;
  width:834px;
  visibility:hidden;
  word-wrap:break-word;
}
