body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:50px;
  width:270px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:12px;
  width:97px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:50px;
  width:270px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:67px;
  top:89px;
  width:56px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:225px;
  top:89px;
  width:55px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:119px;
  width:270px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:3px;
  width:270px;
  height:5px;
}
#u11 {
  position:absolute;
  left:10px;
  top:314px;
  width:270px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u12 {
  position:absolute;
  left:120px;
  top:89px;
  width:53px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:288px;
  top:19px;
  width:232px;
  height:20px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:102px;
  top:520px;
  width:79px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:288px;
  top:40px;
  width:370px;
  height:559px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:559px;
}
#u19 {
  position:absolute;
  left:2px;
  top:272px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:172px;
  top:89px;
  width:54px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:132px;
  width:255px;
  height:48px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:11px;
  top:179px;
  width:270px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u25 {
  position:absolute;
  left:18px;
  top:196px;
  width:255px;
  height:48px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:10px;
  top:250px;
  width:270px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u28 {
  position:absolute;
  left:18px;
  top:260px;
  width:255px;
  height:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:18px;
  top:324px;
  width:255px;
  height:48px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:200px;
  top:144px;
  width:72px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32_ann {
  position:absolute;
  left:265px;
  top:140px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:201px;
  top:215px;
  width:72px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:201px;
  top:279px;
  width:72px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:201px;
  top:334px;
  width:72px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:18px;
  top:398px;
  width:255px;
  height:48px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:378px;
  width:270px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u39 {
  position:absolute;
  left:10px;
  top:452px;
  width:270px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u40 {
  position:absolute;
  left:201px;
  top:409px;
  width:72px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:11px;
  top:90px;
  width:56px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:649px;
  top:78px;
  width:13px;
  height:14px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:663px;
  top:79px;
  width:27px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u46 {
  position:absolute;
  left:682px;
  top:78px;
  width:13px;
  height:14px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:683px;
  top:70px;
  width:13px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:694px;
  top:80px;
  width:27px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u51 {
  position:absolute;
  left:721px;
  top:78px;
  width:13px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:735px;
  top:80px;
  width:27px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u54 {
  position:absolute;
  left:774px;
  top:80px;
  width:27px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u55 {
  position:absolute;
  left:762px;
  top:78px;
  width:13px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:801px;
  top:78px;
  width:13px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:652px;
  top:99px;
  width:13px;
  height:64px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:64px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:681px;
  top:98px;
  width:13px;
  height:64px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:64px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:721px;
  top:96px;
  width:13px;
  height:96px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:96px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:762px;
  top:96px;
  width:13px;
  height:64px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:64px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:803px;
  top:96px;
  width:13px;
  height:96px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:96px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:814px;
  top:80px;
  width:27px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u70 {
  position:absolute;
  left:842px;
  top:77px;
  width:13px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:843px;
  top:96px;
  width:13px;
  height:80px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:80px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:855px;
  top:80px;
  width:27px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  height:2px;
}
#u75 {
  position:absolute;
  left:882px;
  top:78px;
  width:13px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:883px;
  top:96px;
  width:13px;
  height:32px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:32px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:655px;
  top:59px;
  width:200px;
  height:16px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:657px;
  top:21px;
  width:97px;
  height:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:639px;
  top:213px;
  width:49px;
  height:28px;
  color:#FF00CC;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:907px;
  top:211px;
  width:73px;
  height:28px;
  color:#3300CC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:749px;
  top:214px;
  width:97px;
  height:28px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:781px;
  top:262px;
  width:49px;
  height:266px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:266px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:713px;
  top:269px;
  width:63px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u92 {
  position:absolute;
  left:632px;
  top:258px;
  width:79px;
  height:32px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:850px;
  top:267px;
  width:63px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u95 {
  position:absolute;
  left:918px;
  top:239px;
  width:53px;
  height:80px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:80px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:715px;
  top:306px;
  width:63px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u98 {
  position:absolute;
  left:620px;
  top:304px;
  width:91px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:928px;
  top:340px;
  width:40px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:855px;
  top:343px;
  width:63px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u103 {
  position:absolute;
  left:928px;
  top:434px;
  width:40px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:715px;
  top:440px;
  width:63px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u106 {
  position:absolute;
  left:855px;
  top:437px;
  width:63px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u107 {
  position:absolute;
  left:855px;
  top:474px;
  width:63px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u108 {
  position:absolute;
  left:928px;
  top:471px;
  width:53px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:665px;
  top:437px;
  width:40px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:708px;
  top:395px;
  width:63px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u113 {
  position:absolute;
  left:653px;
  top:392px;
  width:53px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
