body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:119px;
  top:20px;
  width:97px;
  height:30px;
  font-size:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u0_ann {
  position:absolute;
  left:209px;
  top:16px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:30px;
  top:60px;
  width:270px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:60px;
  width:270px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:138px;
  width:270px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u7 {
  position:absolute;
  left:123px;
  top:490px;
  width:84px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7_ann {
  position:absolute;
  left:200px;
  top:486px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:29px;
  top:315px;
  width:270px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u9 {
  position:absolute;
  left:30px;
  top:182px;
  width:270px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u10 {
  position:absolute;
  left:30px;
  top:228px;
  width:270px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u11 {
  position:absolute;
  left:38px;
  top:112px;
  width:52px;
  height:16px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:100px;
  top:112px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:38px;
  top:159px;
  width:92px;
  height:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:39px;
  top:203px;
  width:118px;
  height:16px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:39px;
  top:250px;
  width:118px;
  height:16px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:37px;
  top:352px;
  width:74px;
  height:76px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:121px;
  top:353px;
  width:74px;
  height:76px;
  font-size:36px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  word-wrap:break-word;
}
#u23_ann {
  position:absolute;
  left:188px;
  top:349px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:93px;
  top:348px;
  width:18px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:95px;
  top:352px;
  width:14px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:14px;
  height:4px;
}
#u28 {
  position:absolute;
  left:135px;
  top:366px;
  width:44px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:126px;
  top:550px;
  width:87px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:29px;
  top:435px;
  width:270px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u33 {
  position:absolute;
  left:38px;
  top:326px;
  width:92px;
  height:16px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:30px;
  top:266px;
  width:270px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u36 {
  position:absolute;
  left:39px;
  top:289px;
  width:118px;
  height:16px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
