body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:50px;
  width:270px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:97px;
  top:12px;
  width:97px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2_ann {
  position:absolute;
  left:187px;
  top:8px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:21px;
  top:90px;
  width:268px;
  height:30px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:150px;
  width:270px;
  height:30px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:43px;
  top:126px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u10_ann {
  position:absolute;
  left:70px;
  top:122px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:25px;
  top:196px;
  width:27px;
  height:119px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:119px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12_ann {
  position:absolute;
  left:45px;
  top:192px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:21px;
  top:210px;
  width:269px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:244px;
  width:269px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u16 {
  position:absolute;
  left:20px;
  top:278px;
  width:269px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u17 {
  position:absolute;
  left:20px;
  top:315px;
  width:269px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u18 {
  position:absolute;
  left:21px;
  top:321px;
  width:268px;
  height:30px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:25px;
  top:361px;
  width:53px;
  height:149px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:149px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:21px;
  top:380px;
  width:269px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u23 {
  position:absolute;
  left:22px;
  top:413px;
  width:269px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u24 {
  position:absolute;
  left:20px;
  top:443px;
  width:269px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u25 {
  position:absolute;
  left:20px;
  top:473px;
  width:269px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u26 {
  position:absolute;
  left:264px;
  top:90px;
  width:25px;
  height:420px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:420px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u26_ann {
  position:absolute;
  left:282px;
  top:86px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:113px;
  top:233px;
  width:70px;
  height:72px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
}
#u29 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:130px;
  top:240px;
  width:34px;
  height:57px;
  font-size:48px;
  color:#33CC00;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:57px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:25px;
  top:123px;
  width:17px;
  height:19px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:12px;
  width:380px;
  height:96px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:96px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
