body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:76px;
  top:10px;
  width:121px;
  height:30px;
  font-size:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u0_ann {
  position:absolute;
  left:190px;
  top:6px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:270px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:50px;
  width:270px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:540px;
  width:92px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:173px;
  width:270px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u9 {
  position:absolute;
  left:10px;
  top:213px;
  width:270px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u10 {
  position:absolute;
  left:99px;
  top:485px;
  width:84px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:20px;
  top:140px;
  width:205px;
  height:32px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:17px;
  top:339px;
  width:260px;
  height:112px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:112px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:192px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14_ann {
  position:absolute;
  left:98px;
  top:188px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:187px;
  top:234px;
  width:76px;
  height:78px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:78px;
}
#u17 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:17px;
  top:235px;
  width:74px;
  height:76px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:84px;
  top:231px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:245px;
  top:228px;
  width:18px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:247px;
  top:232px;
  width:14px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:3px;
  width:14px;
  height:4px;
}
#u23 {
  position:absolute;
  left:11px;
  top:319px;
  width:270px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u24 {
  position:absolute;
  left:33px;
  top:247px;
  width:40px;
  height:48px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:101px;
  top:235px;
  width:74px;
  height:76px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u26_ann {
  position:absolute;
  left:168px;
  top:231px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:117px;
  top:247px;
  width:40px;
  height:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:23px;
  top:103px;
  width:144px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:10px;
  top:120px;
  width:270px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
