body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:44px;
  width:270px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:273px;
  top:40px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:104px;
  top:10px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:44px;
  width:270px;
  height:40px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:105px;
  width:56px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:52px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:118px;
  top:159px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:70px;
  top:195px;
  width:149px;
  height:55px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:55px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:16px;
  top:263px;
  width:54px;
  height:54px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u12_ann {
  position:absolute;
  left:63px;
  top:259px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:15px;
  top:54px;
  width:22px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:2px;
}
#u15 {
  position:absolute;
  left:15px;
  top:65px;
  width:22px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:2px;
}
#u16 {
  position:absolute;
  left:38px;
  top:317px;
  width:10px;
  height:187px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:170px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:187px;
}
#u17 {
  position:absolute;
  left:16px;
  top:334px;
  width:54px;
  height:54px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:16px;
  top:410px;
  width:54px;
  height:54px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:57px;
  top:307px;
  width:200px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u22 {
  position:absolute;
  left:193px;
  top:291px;
  width:60px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:57px;
  top:378px;
  width:200px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u25 {
  position:absolute;
  left:193px;
  top:362px;
  width:60px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:57px;
  top:454px;
  width:200px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u28 {
  position:absolute;
  left:193px;
  top:438px;
  width:60px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:310px;
  top:44px;
  width:270px;
  height:460px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:460px;
}
#u31 {
  position:absolute;
  left:2px;
  top:222px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:573px;
  top:40px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:404px;
  top:10px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:310px;
  top:44px;
  width:270px;
  height:40px;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:315px;
  top:54px;
  width:22px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:2px;
}
#u37 {
  position:absolute;
  left:315px;
  top:65px;
  width:22px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:2px;
}
#u38 {
  position:absolute;
  left:345px;
  top:307px;
  width:200px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u39 {
  position:absolute;
  left:481px;
  top:291px;
  width:53px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:345px;
  top:164px;
  width:200px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u42 {
  position:absolute;
  left:481px;
  top:148px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:345px;
  top:240px;
  width:200px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u45 {
  position:absolute;
  left:481px;
  top:224px;
  width:53px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:349px;
  top:145px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:349px;
  top:218px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:349px;
  top:285px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:214px;
  top:104px;
  width:29px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:245px;
  top:104px;
  width:15px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
